.respuesta{
	text-align: center;
	color: #4caf50;
	
}
.existe{
	text-align: center;
	color: #ff6839eb;
	
}
.false{
	text-align: center;
	color: #820306;
	
}
.Observacion{
	text-align: center;
	font-weight: bold;
}



